*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/*Cabeçalho*/
button {
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    background-color: #12D01A;
    border: none;
    color: #fff;
}


header {
    height: 530px;
    background: url("../assets/images/carros_avenida.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header .col-md-6 {
    margin-top: 30px;
}

header h2 {
    color: #E12C30;
    font-weight: 800;
    text-align: end;
}


header button {
    height: 60px;
    width: 190px;
}

header .fotoMatheus {
   margin-top: 12px;
}


/*Seção formulário*/
#formulario {
    background-color: #E12C30;
    height: 400px;
}

#formulario .formFundo {
    background-color: #CE282B;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#formulario input {
    height: 50px;
    width: 350px;
    margin-top: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#formulario #serAfiliado {    
    font-size: 20px;
    padding: 10px 30px;
    width: 350px;
    margin-top: 20px;    
}


/*Seção afiliados Dok*/

#afiliadoDok {
    height: 600px;
}

#afiliadoDok h3 {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #676767;
    text-align: center;
    font-weight: 700;
}


#afiliadoDok .fundoImagem {
    background-color: #E12C30;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#afiliadoDok img {
    margin-top: 20px;
    margin-left: 10px;
}

#afiliadoDok .cards {
    background-color: #F9F9F9;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 10px;
}


/*Seção veículos*/
#veiculos {
    background-color: #E12C30;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
}

/*Seção notícia 1*/
#noticia1, #noticia2 {
    height: 500px; 
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
}

#noticia1 span {
    color: #E12C30;
}

#noticia2 h4 {
    color: #676767;
    font-weight: 700;
}


/*Portrait phones, less than 579px*/
@media (max-width: 575.98px){
    header {
        height: 720px;        
    }

    header .col-md-6 {
        display: flex;
        justify-content: center;
    }

    header button {
        margin-right: 80px;
    }

    header h2 {
        text-align: center;
        padding-top: 20px;
    }

    header .fotoMatheus {
        width: 300px;
        height: 430;
        margin-top: 22px;
    }

    header #secaoSecundaria {
        order: 0;
    }

    header #secaoPrimaria {
        order: 1;
    }

    #formulario {      
        height: 500px;   
    }
    #formulario .col-sm-6 {
        display: flex;
        justify-content: center;
    }

    #formulario iframe {
        width: 300px;
        height: 180px;               
    }

    #afiliadoDok {
        height: 1220px;
        text-align: center;
    }

    #afiliadoDok .fundoImagem {
        position: relative;
        left: 35%;
    }

    #afiliadoDok p {
        margin-top: 15px;
    }

    #veiculos {
        height: 560px;
        text-align: center;
    }

    #veiculos img {
        width: 300px;
        margin-top: 40px;
    }

    #noticia1 {
        height: 1100px;
    }

    #noticia2 {
        height: 1050px;
        padding-top: 20px;
    }

    #noticia2 h4 {
        font-size: 24px;
    }

    #noticia2 img {
        padding-bottom: 20px;
    }

}


@media (min-width: 768px) and (max-width: 991.98px) {
    header .logo {
        width: 100px;
    }

    header .fotoMatheus {
        width: 300px;
        height: 430;
        margin-top: 145px;
    }

    #formulario iframe {
        width: 280px;
        height: 180px;    
    }

    #afiliadoDok {
        height: 1000px;
    }

    #noticia1 {
        height: 700px;
    }
}